body {
    margin: 0 auto 0 auto;
    text-align: center;
}
.top-container {
    background-color: #E8495F;
    position: relative;
    padding: 20px;
    border-bottom: solid;
    border-color: #000000;

}
.programmer_ {
    font-size: 28px;
    color: cyan;
}
hr {
    border-color: #F2F7A1;
    border-width: 30px;
    border-style:dotted none none none;
    border-style: none;
    border-top-style: dotted; 
    width: 10%;
    margin: 30px auto;


}
h1 {
    font-family: 'Montserrat';
    font-size: 70px;
    margin: 200px auto 0px auto;
    color:#01ff6b ;

}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 40px;
    margin: 50px auto;
    color:#01ff6b ;
    font-weight: normal;

    
}
.myself {
    margin-top: 50px;
    height: 200px;
    width: auto;
    border: solid;
}
.skill-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin: 50px auto 50px;
    font-style: normal;

}

h3 {
    color:#85ffff ;
    font-family: 'Montserrat', sans-serif;
    font-size:32px;
}
.intro {
    width: 50%;
    margin: 20px auto;
    line-height: 32px;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: #ff5100;

}
.intro-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-style: normal;
}
a {
    color: #11999E;
}
.middle-container {
    background-color: #522546;



}
.bottom-container {
    background-color: #88304E;
    padding: 10px;
    margin: 0px;
    border-top: solid;
    border-color: #000000;


}

.skill-row {
    width: 50%;
    margin: auto;
    margin: 80px auto;
    text-align: left;
    line-height: 32px;
}

.python {
    width: 25%;
    float: right;
    margin-left: 30px;
    background-color: #522546;



}
.excel {
    width: 25%;
    float: left;
    padding-right: 60px;
    background-color: #522546;


    
}

u {
    text-decoration: underline;
    text-decoration-color: rgb(30, 255, 0);
}


.top-ghost {
    position: absolute;
    right: 150px;
    top: 90px;
    width: 200px;
    padding: 10px;
}
.bottom-ghost {
    position: absolute;
    left: 150px;
    width: 200px;
    padding: 10px;
    top: 215px;

}


.punda {
    line-height: 32px;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: #ff5100;
}
.drop {
    margin: 20px;
}

.contact-me {
    padding: 20px;


}
.copyright {
    font-size: 20px;
}

.footer-link {
    margin: auto 10px 10px auto;
    font-size: 24px;
}